Repository bonitasoft/bonita-documentation-site, pull requests merged in 2021-04, with the labels that each got.

#160 doc: introduce architecture documentation
  README.adoc
  docs/README.adoc
  docs/architecture.adoc
  docs/documentation-versions.adoc
  docs/images/DocToCloud-Architecture-BigPicture.png
Labels: documentation

#222 feat: improve the preview script and related documentation
  README.adoc
  build-preview-dev.bash
  build-preview.bash
  package.json
  scripts/generate-content-for-preview-antora-playbook.js
Labels: enhancement

#204 doc: update the 'put the site live' procedure
  docs/migrate-from-old-documentation-site/migration-steps-put-the-site-live.adoc
Labels: documentation

#142 doc: initiate the documentation for Technical Writer
  CONTRIBUTING.adoc
  docs/README.adoc
  docs/architecture.adoc
  docs/content/CONTRIBUTING.adoc
  docs/content/images/asciinema_sample_rendering.png
  docs/documentation-components-and-versions.adoc
  docs/documentation-versions.adoc
Labels: First Iteration, documentation
